#background {
	position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('coatofarms.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 30%;
    opacity: 0.35;
}
/*body {
    background-image: url('coatofarms.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 30%;
    opacity: 0.35;
}*/

/*.container{
    position: relative;
}*/

#main {
	position: absolute;
    display: inline-block;
    width: 100%;
    max-width: 1300px;
    height: 600px;
    margin: 1em;
    margin-left: 160px;
    margin-right: 160px;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 25px;
	padding-top: 5px;
	background-color: #333;
	width: 100%;
	text-align: center;
	font-family: 'Crimson Text', sans-serif;
	font-style: italic;
	color: white;
}

#nav {
    position: fixed;
    height: 35px;
    font-size: 16px;
    font-family: 'Crimson Text', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

#nav ul {
    height: auto;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}


#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav .right-side {
	float: right;
}

#nav a:hover {
    color: #f90;
    background-color: #fff;
}

.dropbtn {
	background-color: #333;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}
	
.img {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.img:hover {
    border: 1px solid #777;
}

.img img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

table {
    position: relative;
    top: 80px;
    max-width: 800px;
    width: 100%; 
    border-collapse: collapse; 
}

tr:nth-of-type(odd) { 
    background: #eee; 
}

th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}

td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}