body {
	background-color: #101010;

	font-family: 'Helvetica','Arial',sans-serif;

	font-size: 13px;

	text-align: center
}

h1, p {text-align: center}

.opensans {
	font-family: 'Open sans', sans-serif;
}